.tab-navigation {
  margin-bottom: $spacing-md;
  border-radius: $border-radius-md;
  overflow: hidden;

  &__tabs {
    background-color: $background-paper;

    .MuiTabs-indicator {
      height: 3px;
      border-radius: 3px 3px 0 0;
    }
  }

  &__tab {
    min-height: 56px;
    text-transform: none;
    font-weight: 500;
    font-size: $font-size-sm;

    @include mobile {
      min-width: auto;
      padding: $spacing-sm $spacing-md;

      .MuiTab-iconWrapper {
        margin-right: $spacing-xs;
      }
    }

    &.Mui-selected {
      font-weight: 600;
    }
  }
}
