.data-table {
  border-radius: $border-radius-md;
  overflow: hidden;

  &__header-cell {
    font-weight: 600;
    background-color: $gray-50;
    color: $text-primary;
    white-space: nowrap;

    .MuiTableSortLabel-root {
      color: $text-primary;
      font-weight: 600;

      &:hover {
        color: $primary-color;
      }

      &.Mui-active {
        color: $primary-color;

        .MuiTableSortLabel-icon {
          color: $primary-color;
        }
      }
    }
  }

  &__row {
    @include transition(background-color);

    &:hover {
      background-color: $gray-50;
    }

    &:last-child .data-table__cell {
      border-bottom: none;
    }
  }

  &__cell {
    color: $text-primary;

    @include mobile {
      padding: $spacing-sm;
    }
  }

  &__actions-cell {
    width: 100px;

    @include mobile {
      width: 80px;
    }
  }

  &__action-btn {
    color: $gray-600;
    @include transition(color);

    &:hover {
      color: $primary-color;
    }

    &--delete:hover {
      color: $error-color;
    }
  }

  &__empty {
    @include flex-center;
    padding: $spacing-xl;
    color: $text-secondary;
    font-style: italic;
  }
}

// Mobile-responsive table
@include mobile {
  .data-table {
    .MuiTableCell-root {
      padding: $spacing-sm $spacing-xs;
      font-size: $font-size-sm;
    }
  }
}
